h2{
    color: blue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    border-radius: 25px ;
    height : 10px;
    width:500x
}


.homeImg {
    height: 300px;
    width: 600px;
    border-radius: 50px;
    margin: 30px;
    border: 10px;
    box-shadow: 20px 20px 50px 50px rgb(138, 136, 136);
  }
  .innerHome{
    height: 250px;
    width: 500px;
    border-radius: 50px;
    margin: 30px;
    border: 10px;

  }